.anitip {
  margin: 4px;
  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.anitip[data-status="opening"] {
  animation-name: tips-opening;
}

.anitip[data-status="closing"] {
  animation-name: tips-closing;
}

.anitip[data-placement^="left"] {
  margin-right: 0;

  --translate-3d: 6px, 0, 0;
}

.anitip[data-placement^="right"] {
  margin-left: 0;

  --translate-3d: -6px, 0, 0;
}

.anitip[data-placement^="top"] {
  margin-bottom: 0;

  --translate-3d: 0, 6px, 0;
}

.anitip[data-placement^="bottom"] {
  margin-top: 0;

  --translate-3d: 0, -6px, 0;
}

@keyframes tips-opening {
  0% {
    opacity: 0;
    transform: translate3d(var(--translate-3d));
  }
  100% {
    opacity: 1;
    transform: translate3d(0 ,0, 0);
  }
}

@keyframes tips-closing {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(var(--translate-3d));
  }
}
